
@{
    ViewBag.Title = "Index";
}

<h2>Add Products</h2>

<form action="@Url.Action("AddProduct")" method="post">
    <label>Product Name</label><br />
    <input type="text" name="name" class="form-control" /><br />

    <label>Amount</label><br />
    <input type="text" name="amount" class="form-control" /><br />

    <input type="submit" class="btn btn-primary" value="Submit Product" />
</form>